$table-cell-padding: 8px;
$table-border-color: #cccccc;
$table-footer-topspace: 10px;

* {
  margin: 0;
  padding: 0;
}

.responsive-wrapper {
  position: relative;
}

.responsive-scrollable {
  overflow-x: auto;

  .scrollbar-spacer {
    height: 35px;
  }
}

.narrow-table {
  border-collapse: separate;
  border-spacing: 0 4px;
  text-align: left;
  width: 100%;

  .actions-header th {
    padding: 10px 0;
    text-align: right;

    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;

      .input-group {
        input, span {
          width: auto;
        }
      }
    }
  }

  th {
    background-color: #ffffff;
    box-sizing: content-box;
    padding: $table-cell-padding;
    white-space: nowrap;
  }

  tbody {

    .row-selected {
      background-color: #edf6fc;
    }

    tr:hover td {
      background: #edf6fc;
    }

    td {
      box-sizing: content-box;
      height: 26px;
      border-top: 1px solid $table-border-color;
      border-bottom: 1px solid $table-border-color;
      padding: $table-cell-padding;
      white-space: nowrap;

      &:first-child {
        border-left: 1px solid $table-border-color;
      }

      &:last-child {
        border-right: 1px solid $table-border-color;
      }
    }
  }

  tfoot td {
    padding: $table-footer-topspace 5px 5px 5px;
  }
}

.expand-table {
  border-spacing: 0;

  tbody {

    .summary-only td:first-child,
    .multi-select-col + td {
      box-sizing: content-box;
      color: #999999;
      padding: 2px 0 0 4px;
      min-width: 15px;
      max-width: 15px;
      width: 15px;
      font-size: 0.9em;
      text-align: center;
      line-height: 14px;
    }

    tr:nth-child(3n+2) {
      display: none;

      &.expanded {
        display: table-row;

        td {
          background: #ffffff;
          white-space: normal;
        }
      }

      td {
        height: inherit;
        border-top: none;
        padding: $table-cell-padding 20px;
      }
    }

    tr:nth-child(3n) td {
      height: 4px;
      border: none;
      padding: 0;
      background: #ffffff;
    }
  }

  .fa-chevron-right, .fa-chevron-down {
    cursor: pointer;
  }
}

.action-table {

  .actions-header {
    height: 60px;

    th:last-child {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
    }
  }

  .multi-select-col {
    line-height: 12px;
    text-align: center;

    & + td {
      border-left: 1px solid $table-border-color;
    }

    input[type=checkbox] {
      margin: 0;
    }
  }

  tbody tr {
    td {

      &:first-child {
        max-width: 30px;
        min-width: 30px;
        padding: 2px 0;
        width: 30px;
      }

      &:last-child {
        background-color: #ffffff;
        border-left: 1px solid $table-border-color;

        .btn-xs {
          padding: 3px 6px;
        }
      }
    }
  }

  &.expand-table tbody tr {

    &:nth-child(3n) {
      height: 4px;

      td:last-child {
        border-left: none;
      }
    }

    &:nth-child(3n+1) td:last-child {
      background-color: #ffffff;
      border-left: 1px solid $table-border-color;
    }

    &:nth-child(3n+2) {
      td:last-child {
        display: none;
      }
    }
  }

  th:last-child, td:last-child {
    position: absolute;
    right: 0;
  }

  tfoot td:last-child {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }
}


